<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Levantamento Fotográfico</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <p class="logo">
                <img src="../assets/logo.png" alt="Logo">
            </p>
            <p class="title">TERMO DE RESPONSABILIDADE DA AUTORA</p>
            <p class="title">DO PROJECTO DE ARQUITECTURA</p>
            <p class="title">Levantamento Fotográfico</p>
        </div>

        <div class="content">
            <p>{{author_name}}, arquiteta, moradora na {{author_address}}, Contribuinte Fiscal n.º {{author_nif}}, inscrita na Ordem dos Arquitetos (S.R.LVT) sob o n.º {{author_registration}}, declara, para efeitos do disposto n.º 1 do artigo 10.º do Decreto-Lei n.º 555/99, de 16 de dezembro, na sua redação atual, que o levantamento fotográfico, de que é autora, relativo à obra de {{construction_type}}, localizado na {{construction_address}} e a implantar no {{property_description}} e registado na Conservatória do Registo Predial do {{land_registry_location}} sob o n.º {{land_registry_number}}, da freguesia de {{land_registry_sublocation}}, cujo {{request_type}} foi requerido por {{requester_name}}, com o NIF. {{requester_nif}}, moradora na {{requester_address}}, foi registado na altura da conceção do projeto, contento toda a informação existente considerando-se assim atualizado.</p>

            <p>Mais se declara ter perfeito conhecimento de que a prestação de falsas declarações se encontra sujeita ao regime sancionatório previsto no Regime Jurídico da Urbanização e Edificação e demais legislação aplicável, nomeadamente, à responsabilidade civil e criminal.</p>
        </div>

        <div class="footer">
            <p class="date">{{location}}, {{date}}</p>
            <p class="label">A Técnica,</p>
            <div class="signature-space"></div>
            <div class="signature">
                <p>{{signature}}</p>
                <p>{{signature_sub1}}</p>
                <p class="signature-note">{{signature_sub2}}</p>
            </div>
        </div>

        <div class="content page-break">
            <p class="title">Levantamento Fotográfico</p>
            <p>(INSERIR FOTOS)</p>
        </div>
    </div>
</body>
</html>