<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Memorando</title>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <p class="logo">
                    <img src="../assets/logo.png" alt="Logo" />
                </p>
                <h1 class="title">RESPOSTA À INFORMAÇÃO TÉCNICA N.º {{technical_information_id}}</h1>
            </div>

            <div class="info-section">
                <div class="info-row">
                    <span>PROCESSO {{process_nr}}</span>
                    <span class="date">Data: {{date}}</span>
                </div>

                <div class="info-row">
                    <span>LOCAL DA OBRA: {{construction_address}}</span>
                </div>

                <div class="info-row">
                    <span>REQUERENTE: {{requester_name}}</span>
                </div>
            </div>

            <div class="content">
                <p>O presente documento visa responder aos aspetos referidos no ponto "4.Conclusão" da informação técnica supra referida, pelo que igualmente se anexa os seguintes ficheiros:</p>
                
                <ul>
                    <li>Levantamento topográfico e planta de implantação georreferenciadas, sem elementos adicionais ao desenho, em formato editável (DWG), encontrando-se mencionado no mesmo que o procedimento se refere a pedido de licenciamento;</li>
                    
                    <li>Ficha de elementos estatísticos devidamente preenchida e atualizada;</li>
                    
                    <li>Memória descritiva do plano de acessibilidades retificada quanto à tipologia do fogo e especificação da solução adotada para a instalação sanitária (base de duche acessível, conforme peça desenhada);</li>
                    
                    <li>Novo requerimento relativo ao presente pedido de licença administrativa;</li>
                </ul>

                <p>Mais se informa que face à compatibilização aos projetos de especialidades, nomeadamente a de estruturas, foi necessário a introdução de pilares ao nível da fachada frontal e lateral. Um encontra-se na fachada frontal que foi dotado de formato retangular e que se prolonga na varanda imediatamente acima.</p>

                <p>Outros dois pilares encontram-se ao nível da fachada lateral, situando-se um deles mais a tardoz da edificação, necessário a sustentar a pala de elevada extensão e que foi integrado na parede proposta que servirá de resguardo ao acesso do compartimento de arrumos exteriores. Um outro pilar, necessário para suportar a varanda imediatamente acima e que se prolonga por esse piso sustentando também a pala superior.</p>

                <p>Foi igualmente necessário, por compatibilização aos projetos de especialidades, "ajustar" o projeto ao nível da compartimentação interior quanto à disposição da estrutura e quanto à espessura das paredes perimetrais da edificação.</p>

                <p>Foi mantida a organização e o programa habitacional já apreciado. As modificações não implicaram alterações relativas à área de bruta de construção.</p>

                <p>Adiciona-se ainda uma nova calendarização com a proposta de duração de 24 meses.</p>

                <p>No que concerne à solicitação do pagamento de novas das taxas administrativas referentes ao requerimento de licença administrativa exigido no ofício suprarreferido, anexa-se o referido documento e solicita-se que seja reconsiderado, pelo seguinte:</p>

                <ul>
                    <li>O primeiro requerimento do presente processo deu entrada a 21 de setembro de 2022;</li>
                    <li>A 14 de novembro, não existindo conhecimento de que se encontrava apreciado, foi nessa data entregue um requerimento de substituição, solicitando que os elementos entregues anteriormente não fossem considerados, pela proposta ter sofrido alterações sujeitas a controlo prévio (alterou-se a área bruta de construção prevista);</li>
                    <li>A data de entrada do requerimento de substituição coincidiu com problemas informáticos dos vossos serviços, tendo este sido registado apenas a 28 de novembro;</li>
                    <li>O requerimento de substituição apenas em meados de janeiro, seguiu para apreciação do técnico responsável, que nessa mesma data já teria apreciado os elementos anexos ao primeiro requerimento;</li>
                    <li>Pelo fato de ter existido constrangimento nos vossos serviços ao nível informático e que, aparentemente, prejudicaram o normal funcionamento do mesmo, nomeadamente no registo de entrada de requerimentos e normal transição de informação entre departamentos, e sendo este motivo alheio ao requerente, apela-se à não consideração do pagamento de novas taxas.</li>
                </ul>
            </div>

            <div class="footer">
                <p>Pede deferimento,</p>
                <p class="location-date">Setúbal, {{date}}</p>
                <div class="signature">
                    <p>{{author_name}}</p>
                    <p>Arquiteta - OA {{oa_number}}</p>
                    <p>Código de validação para verificação de competências {{oa_ref_number}}</p>
                </div>
            </div>
        </div>
    </body>
</html>