<!DOCTYPE html>
<html lang="pt-PT">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Termo de Responsabilidade da Autora do Plano de Acessibilidades</title>
		<link rel="stylesheet" href="../styles/main.css">
	</head>
	<body>
		<div class="container">
			<div class="header">
				<p class="logo">
					<img src="../assets/logo.png" width="262" height="62" alt="Logo" />
				</p>
				<h1 class="title">TERMO DE RESPONSABILIDADE DA AUTORA</h1>
				<h2 class="subtitle">DO PLANO DE ACESSIBILIDADES</h2>
				<p class="reference">
					(conforme redação prevista no ANEXO III – número IV, a que se refere o n.º 2
					do artigo 2.º da Portaria n.º 71-A/2024 de 27 de fevereiro.)
				</p>
			</div>

			<div class="content">
				<p>{{author_name}}, arquiteta, moradora na {{author_address}}, Contribuinte Fiscal n.º {{author_nif}}, inscrita na Ordem dos Arquitetos (S.R.LVT) sob o n.º {{oa_number}}, declara, para efeitos do disposto n.º 1 do artigo 10.º do Decreto-Lei n.º 555/99, de 16 de dezembro, e no Decreto-Lei n.º 163/2006, de 08 de agosto, ambos na sua redação atual, que o plano de acessibilidades, de que é autora, relativo à obra de {{construction_type}}, localizado na {{construction_address}} e a implantar no {{property_description}}, cujo {{request_type}} foi requerido por {{requester_name}}, {{requester_role}}, com o NIF. {{requester_nif}}, moradora na {{requester_address}}, observa as normas legais e regulamentares aplicáveis.</p>
			</div>

			<div class="footer">
				<p class="date">{{location}}, {{date}}</p>
				<p class="signature-title">A Técnica,</p>
				<div class="signature-space"></div>
				<div class="signature">
					<p>{{author_name}}</p>
					<p>Arquiteta - OA {{oa_number}}</p>
					<p><em>Código de validação para verificação de competências {{oa_ref_number}}</em></p>
				</div>
			</div>
		</div>
	</body>
</html>